---
import { TestimonialsMarquee } from "./TestimonialsMarquee";
---

<section
  class="flex flex-col gap-10 items-center mx-auto max-w-7xl px-6 py-24 sm:py-32"
>
  <h2
    class="text-center text-3xl max-w-lg font-bold text-slate-900 sm:text-4xl"
  >
    Opinie osób, które skorzystały z moich lekcji
  </h2>

  <TestimonialsMarquee client:load />
</section>
